<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    
    <script type="text/javascript" src="/webjars/angular/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="/webjars/angular-resource/1.5.8/angular-resource.min.js"></script>
    <script type="text/javascript" src="/webjars/angular-route/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/dist/css/bootstrap-theme.min.css"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>
  <body>

  <div>
      <div class="page-header">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Error Page</h1>
      </div>
    <section class="main loginbackground">

                <p class="field">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internal error has occurred , please contact opensource-coe@wipro.com for support</p>


    </section>
  </div>
  </body>
</html>