<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css" />
  </head>
  <body ng-app="MyApp" >
      <div>
      <div class="page-header">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Promotions Management</h1>
      </div>
        <div class="container" ng-view=""></div>

    <script type="text/javascript" src="webjars/angular/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="/webjars/angular-resource/1.5.8/angular-resource.min.js"></script>
    <script type="text/javascript" src="webjars/angular-route/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="/app/listapp.js"></script>
    <script type="text/javascript" src="/app/controllers.js"></script>
    <script type="text/javascript" src="/app/services.js"></script>
          </div>
  </body>
</html>